<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" media="screen" type="text/css"
        href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>
  <link rel="stylesheet" media="screen" type="text/css"
        href="../../../resources/css/styles.css" th:href="@{/resources/style.css}">
  <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>